.footer {
    background-color: #3E4753;
}

.nav {
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 20px 30px 30px;
}

.nav li a:hover {
    text-decoration: underline;
    color: #FFDD22;
}

.nav li button {
    background-color: #3E4753;
    color: white;
}
