/.idea

/JavaScript/.idea

/JavaScript/Alina-zadanko-a3b2c4/.idea

/JavaScript/Alina-zadanko-getTable/.idea
/JavaScript/Alina-zadanko-getTable/node_modules

/JavaScript/LeverX-task-IntroToIt/.idea
/JavaScript/LeverX-task-IntroToIt/node_modules

/Markups/.idea
/Markups/6-Onliner-kck/node_modules
