.item {
    padding: 15px;
    display: flex;

    margin-bottom: 40px;
}

.body {
    margin-left: 40px;
}

.title {
    cursor: pointer;

    font-weight: 600;
    font-size: 25px;

    margin-top: 20px;
    margin-bottom: 30px;
}

.title:hover {
    text-decoration: underline;
}

.desc {
    font-size: 16px;
    width: 600px;
    color: #333;
    line-height: 23px;
}

