.about {
    background-color: #fff;
}

.container {
    width: 1080px;
    margin: 0 120px 0px 60px;
    padding: 40px;
}

.h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

p {
    width: 700px;
    line-height: 25px;
    font-size: 15px;
    margin: 15px 0;
}

.qq {
    font-size: 15px;
}

.subtitle {
    font-size: 21px;
    margin: 25px 0 17px;
}
