.white {
    background-color: #fff;
    padding: 32px 20px 5px;
}

.title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

.row {
    display: flex;

    border: 1px solid #ccc;
}

.item {
    width: 10%;
    text-align: center;
    padding: 15px 10px 5px 10px;

    border-right: 1px solid #ccc;

    transition: background-color 0.1s linear,
    border-bottom-color 0.1s linear,
    border-bottom-width 0.1s linear;
}

.item:last-child {
    border-right: 0;
}

.item:hover {
    background-color: #3333330D;

    border-bottom: 3px solid red;
}

.item__title {
    margin-top: 15px;
}

.nav {
    padding: 15px 15px 20px;
    display: flex;
    justify-content: space-between;

    color: cornflowerblue;
}

.nav li a:hover {
    text-decoration: underline;
}

.section__row {
    display: flex;
    margin-bottom: 10px;
}

.section__column {
    display: flex;
    flex-direction: column;

    width: 33.3%;
    height: 550px;
}

.section__item {
    padding: 10px;
    height: 100%;

    color: #fff;
}

.section__item:hover {
    border: 2px solid #fff;
}

.section__title {
    text-align: center;
    font-size: 18px;
    font-weight: 600;

    margin-top: 15px;
}

.section__text {
    text-align: center;
    width: 200px;
    margin: auto;
    margin-top: 10px;
}

.flex {
    display: flex;
}

.navbar {
    width: 22%;
    color: gray;
}

.section__row {
    width: 78%;
}

.navbar li {
    padding: 5px 5px 8px 10px;
}

.navbar li:last-child {
    margin-bottom: 0;
}

.navbar li:hover {
    background-color: #3333330D;
    color: black;
}
